<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/stylesheets/style.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class = "container ">
        <div>
            <img class = "pinterest-logo" src="images/pinterestlogo.png"  alt="logo">
        </div>
        <div class="form-heading">
          <div class="sub1">Welcome to Pinterest</div> 
           <div class="sub2">Login to see more</div> 
      
        </div>
        
        <form action="/login" method="POST">
            <div class="input-group">
            <label for="email">Username</label>
            <input
              type="text"
              name="username"
              id="email"
              placeholder="Username"
              required
            />
          </div>
         
          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Create Password"
              required
            />
          </div>
        
            <button class=" submit">Continue</button>
        
        </form>
        <p>OR</p>
        <P>Create a new account <a href = "/signup"> &nbsp;Signup</a></P>
       
   </div>

</body>
</html>